@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    color: hsl(201, 11%, 66%);
    margin: 0 auto;
    margin-top: 100px;
}
.container{   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    line-height: 30px;
}
.heading{
    color: rgb(72, 80, 87);
    text-align: center;
    font-weight: bolder;
}
.header{
    width: 60%;
}
.head-logo{
    margin-bottom: 50px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    width: 100%;
}
.head{
    text-align: center;
    margin-bottom: 100px;

}
.btns{
    display: inline;
}
.btn{
    border: none;
    padding: 15px;
    color: white;
    border-radius: 3em;
    text-align: center;
    font-family:'Bai Jamjuree', sans-serif ;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}

.btn1{
    background-color: hsl(171, 66%, 44%); 
    box-shadow: 0px 5px 10px 2px hsla(171, 66%, 44%, .3);
    border-bottom: 2px solid hsl(171, 66%, 33%) ; 
    margin-right: 10px;  
}
.btn1:hover{
    background-color:hsla(171, 66%, 44%, .9) ;
    
}
.btn2{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 5px 10px 2px hsla(233, 100%, 69%, .3);
    border-bottom: 2px solid hsl(233, 56%, 55%) ; 
}
.btn2:hover{
    background-color:hsla(233, 100%, 69%, .9) ;
}
/* first section */

.snippet{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snippet p{
    width: 60%;
}
.snippet h2{
    margin-bottom: 20px;
}
.action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.action-container h3{
    text-align: left;
}
.actions{
    margin-left: 100px;
}
.action{
    margin-top: 30px;
    margin-bottom: 15px;
}
.middle{
    margin-bottom: 100px;
}

/* second section */

.bottom{
    text-align: center;
}
.bottom h2{
    margin-bottom: 20px;
}
.header-bottom{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bottom p{
    width: 60%;
}

/* third sectuion */
.workflow{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workflow-heading{
    margin-bottom:15px ;

}
.workflow-heading p{
    text-align: center;
}
.super{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
}

.item-img{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 80%;
    text-align: center;
}
.img-device{
    display: none;
}
.item-img img{
      justify-self: center;
}
.item{
    text-align: center;
    margin: 20px;
    width: 40%;
}




.logos{
    display: flex;
    align-items: center;
    margin-bottom: 100px;

}
.logos img {
    margin: 50px;
}


/* last item */
.last{
    text-align: center;
    margin-bottom: 100px;
}
.last-header{
    margin-bottom:35px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.last-header p{
    width: 60%;
}
.last h2{
    margin-bottom: 20px;
}
.foot1{
    display: flex;
    align-items: center;
}
.list{
    margin-left: 100px;
    width: 500px;
}
.list ul{
    list-style: none;
    color:rgb(72, 80, 87) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.list a{
    text-decoration: none;
    color:rgb(72, 80, 87) ;
    font-size: 12px;
    font-weight: bold;
}
.list a:hover{
    color: hsl(171, 66%, 44%);
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(210, 10%, 33%, .1);
    padding: 50px 100px 50px 100px;
}
.icon{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.icon img{
    margin-right: 20px;
    width: 15px;
}
footer{
    margin-top: 50px;
}
@media(max-width:800px){
    body{
        font-size: 18px;
        font-family: 'Bai Jamjuree', sans-serif;
        background-image: url(bg-header-mobile.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }
    p{
        letter-spacing: normal;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding-top:100px; 
        width:100% ;
    }
    .head{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 200px;
    }
    .header h1{
        margin-bottom: 20px;
    }
    .header{
        margin-bottom: 30px;
    }
    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .btn{
        font-size: 20px;
        padding: 20px;
        width:80% ;
    }
    .btn1{
        margin-bottom: 30px;
    }
    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .action-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    .action-container h3{
        text-align: center
    }
    
    .actions{
        margin-left: 0;
        margin-top: 30px;
        width: 60%;
    }
    .act{
        margin-top: 50px;
    }
    .computer{
        width: 80% ;

    }
    .devices{
        width: 80%;
    }
    .item-img{
        display: none;
    }
    .img-device{
        display: inline;
    }
    .workflow{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom:50px ;
    }
    .img-device{
        margin-bottom: 70px;
    }
    .super{
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .item{
       margin: 0; 
       margin-bottom: 60px;
       width: 60%;
    }
    .logos{
        flex-direction: column;
    }
    .last{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .last-header{
        margin-bottom: 60px;
    }
    .foot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-footer{
        width: 50px;
    }
    .foot1{
        display: flex;
        flex-direction: column;
        
    }
    .list{
        margin:0;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .list ul{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .list li{
        margin-bottom: 30px;
    }
    .list a{
        font-size: 20px;
        font-weight: 500;
    }
    .icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 35px;
     }
     .icon img{
         width: 25px;
         margin: 0;
     }
}









